.url {
    margin-top: 10px;
    width: 500px;
    height: 40px;
}
.radio {
    margin: 10px;
    width: 100px;
    height: 60px;
}

.container {
    display: flex;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}